In [94]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [95]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
403,tt0985694,20000000,31327899,Machete,Danny Trejo|Michelle Rodriguez|Jessica Alba|Ro...,Robert Rodriguez|Ethan Maniquis,He was given an offer he couldn't refuse...,After being set-up and betrayed by the man who...,105,Action|Comedy|Thriller,Dune Entertainment|Dune Entertainment III|Trou...,9/1/2010,6.2,2010
604,tt1099212,37000000,392616625,Twilight,Kristen Stewart|Robert Pattinson|Billy Burke|T...,Catherine Hardwicke,"When you can live forever, what do you live for?",When Bella Swan moves to a small town in the P...,122,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Maverick Films|Imprint En...,11/20/2008,5.8,2008
1219,tt1204975,28000000,134402450,Last Vegas,Robert De Niro|Morgan Freeman|Michael Douglas|...,Jon Turteltaub,It's going to be legendary,Three sixty-something friends take a break fro...,105,Comedy,Laurence Mark Productions|CBS Films|Outlaw Sin...,10/31/2013,6.4,2013
1193,tt1457767,13000000,318000141,The Conjuring,Patrick Wilson|Vera Farmiga|Ron Livingston|Lil...,James Wan,Based on the true case files of the Warrens,Paranormal investigators Ed and Lorraine Warre...,112,Horror|Thriller,New Line Cinema|The Safran Company|Evergreen M...,7/18/2013,7.4,2013
322,tt0457400,100000000,68688831,Land of the Lost,Will Ferrell|Anna Friel|Danny McBride|Jorma Ta...,Brad Silberling,Right place. Wrong time.,"On his latest expedition, Dr. Rick Marshall is...",102,Adventure|Comedy|Science Fiction,Universal Pictures|Mosaic Media Group|Relativi...,6/5/2009,5.4,2009

In [22]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [104]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget'] # добавили столбец "прибыль/убытки" в датафрэйм
data['cast'] = data['cast'].apply(lambda s: s.split('|')) # преобразовал в список актеров
data['month'] = data['release_date'].apply(lambda s: s.split('/')) # преобразовал в список дату фильма
data['month'] = data['month'].apply(lambda s: s[0]) # добавил столбец "месяц" в датафрейм
data['director'] = data['director'].apply(lambda s: s.split('|')) # преобразовал в список режжисеров
data['genres'] = data['genres'].apply(lambda s: s.split('|')) # преобразовал в список жанры
data['overview'] = data['overview'].apply(lambda s: s.split(' ')) # преобразовал в список описание

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [45]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +

In [28]:
budget_max = data[data.budget == data.budget.max()]
display(budget_max)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,"[Captain, Jack, Sparrow, crosses, paths, with,...",136,"[Adventure, Action, Fantasy]",Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,5

# 2. Какой из фильмов самый длительный (в минутах)?

In [46]:
answers['2'] = '1157. Gods and Generals (tt0279111)' # +

In [29]:
runtime_max = data[data.runtime == data.runtime.max()]
display(runtime_max)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,"[The, film, centers, mostly, around, the, pers...",214,"[Drama, History, War]",Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [47]:
answers['3'] = '768. Winnie the Pooh (tt1449283) верно' # +

In [30]:
runtime_min = data[data.runtime == data.runtime.min()]
display(runtime_min['original_title'])

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [48]:
answers['4'] = '110' #+

In [31]:
mean = data['runtime'].describe()
display(round(mean))

count    1889.0
mean      110.0
std        18.0
min        63.0
25%        97.0
50%       107.0
75%       120.0
max       214.0
Name: runtime, dtype: float64

# 5. Каково медианное значение длительности фильмов?

In [49]:
answers['5'] = '107' # +

In [32]:
median = data['runtime'].describe()
display(round(mean))

count    1889.0
mean      110.0
std        18.0
min        63.0
25%        97.0
50%       107.0
75%       120.0
max       214.0
Name: runtime, dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [50]:
answers['6'] = '239. Avatar (tt0499549)' # +

In [33]:
profit_max = data[data.profit == data.profit.max()]
display(profit_max)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"[In, the, 22nd, century,, a, paraplegic, Marin...",162,"[Action, Adventure, Fantasy, Science Fiction]",Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [51]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' # +

In [34]:
profit_min = data[data.profit == data.profit.min()]
display(profit_min)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,"[The, Texas, Rangers, chase, down, a, gang, of...",149,"[Action, Adventure, Western]",Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [52]:
answers['8'] = '1478' # +

In [35]:
count_movies = data[data.revenue > data.budget].count()
display(count_movies['imdb_id'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [53]:
answers['9'] = '599. The Dark Knight (tt0468569)' # +

In [36]:
movies_2008 = data[data.release_year == 2008] # выборка по фильмам 2008 года
movie_revenue_max = movies_2008[movies_2008.revenue == movies_2008.revenue.max()]
display(movie_revenue_max)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,"[Batman, raises, the, stakes, in, his, war, on...",152,"[Drama, Action, Crime, Thriller]",DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [54]:
answers['10'] = '1245. The Lone Ranger (tt1210819) верно' # +

In [37]:
movies_year = data[(data.release_year >= 2012)& (data.release_year <= 2014)] # выборка по фильмам 2012-2014г
movies_profit_min = movies_year[movies_year.profit == movies_year.profit.min()]
display(movies_profit_min)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,"[The, Texas, Rangers, chase, down, a, gang, of...",149,"[Action, Adventure, Western]",Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [55]:
answers['11'] = 'Drama' # +

In [56]:
data_11 = data.explode('genres')
data_genres = data_11['genres'].value_counts()
display(data_genres)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [57]:
answers['12'] = 'Drama' # +

In [58]:
data_12 = data.explode('genres')
profit_max = data_12[data_12.profit >0].genres.value_counts()
display(profit_max)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [59]:
answers['13'] = 'Peter Jackson' # +

In [60]:
data_13 = data.explode('director')
data_director = data_13.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
display(data_director)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [61]:
answers['14'] = 'Robert Rodriguez' # +

In [62]:
data_14 = data.explode('director')
data_14 = data_14.explode('genres')
data_director = data_14.groupby(['genres'])['director'].value_counts()
display(data_director)

genres   director
Action   Robert Rodriguez      9
         Michael Bay           7
         Paul W.S. Anderson    7
         Antoine Fuqua         6
         Ridley Scott          6
                              ..
Western  Les Mayfield          1
         Lorna Cook            1
         Martin Campbell       1
         Tommy Lee Jones       1
         Will Finn             1
Name: director, Length: 3737, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [63]:
answers['15'] = 'Chris Hemsworth' # +

In [64]:
data_15 = data.explode('cast')
year_2012 = data_15[data_15.release_year == 2012]
data_cast = year_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)
display(data_cast)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [65]:
answers['16'] = 'Matt Damon' # +

In [66]:
data_16 = data.explode('cast')
data_cast = data_16[data_16.budget > data_16.budget.mean()].cast.value_counts()
display(data_cast)

Matt Damon         18
Adam Sandler       17
Angelina Jolie     16
Tom Cruise         15
Eddie Murphy       15
                   ..
Susie Essman        1
Britt Robertson     1
James Remar         1
Dick Van Dyke       1
Tyler Posey         1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [67]:
answers['17'] = 'Action' # +

In [68]:
data_17 = data.explode('cast')
data_17 = data_17.explode('genres')
nicolas_cage = data_17[data_17.cast == 'Nicolas Cage'].genres.value_counts()
display(nicolas_cage)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [69]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)' # +

In [70]:
par_pictures = data[data['production_companies'].str.contains('Paramount Pictures')] # датафрэйм студии "Paramount Pictures"
movie = par_pictures[par_pictures.profit == par_pictures.profit.min()].original_title
display(movie)

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [71]:
answers['19'] = '2015' # +

In [72]:
years = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
display(years)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [73]:
answers['20'] = '2014' # +

In [74]:
warner_bros = data[data['production_companies'].str.contains('Warner Bros')] # датафрэйм студии "Warner Bros..."
data_profit = warner_bros.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
display(data_profit)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [75]:
answers['21'] = '9' # +

In [76]:
data_month = data['month'].value_counts()
display(data_month)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [77]:
answers['22'] = '450' # +

In [105]:
data_movie = len(data[data['month'].isin(['6', '7', '8'])])
display(data_movie)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [79]:
answers['23'] = 'Peter Jackson' # +

In [106]:
data_23 = data.explode('director')
director_data = data_23[data_23['month'].isin(['1', '2', '12'])]
display(director_data['director'].value_counts())

Peter Jackson                       7
Steven Soderbergh                   6
Clint Eastwood                      6
Nancy Meyers                        4
Adam Shankman                       4
                                   ..
Florian Henckel von Donnersmarck    1
Jay Russell                         1
Tom Tykwer                          1
Nicolas Winding Refn                1
Michel Gondry                       1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [81]:
answers['24'] = 'Four By Two Productions' # +

In [101]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
data['production_companies'] = data['production_companies'].apply(lambda s: s.split('|'))
data_24 = data.explode('production_companies')
data_24['length_movie'] = data_24['original_title'].apply(lambda s: len(s))
data_companies = data_24.groupby(['production_companies'])['length_movie'].mean().sort_values(ascending=False)
display(data_companies)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: length_movie, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [83]:
answers['25'] = 'Midnight Picture Show' # +

In [100]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
data['production_companies'] = data['production_companies'].apply(lambda s: s.split('|'))
data_25 = data.explode('production_companies')
data_25['count_word'] = data_25['overview'].apply(lambda s: len(s))
data_companies = data_25.groupby(['production_companies'])['count_word'].mean().sort_values(ascending=False)
display(data_companies)

production_companies
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: count_word, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [85]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # +

In [99]:
data_26 = data.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False)
with pd.option_context('display.max_rows', None, 'display.max_colum', None):
    display(data_26.head(19))

original_title
The Dark Knight                                      8.1
The Imitation Game                                   8.0
Inside Out                                           8.0
Interstellar                                         8.0
Room                                                 8.0
The Grand Budapest Hotel                             7.9
The Pianist                                          7.9
Guardians of the Galaxy                              7.9
Memento                                              7.9
The Wolf of Wall Street                              7.9
Inception                                            7.9
Gone Girl                                            7.9
12 Years a Slave                                     7.9
The Lord of the Rings: The Return of the King        7.9
Prisoners                                            7.8
The Fault in Our Stars                               7.8
Eternal Sunshine of the Spotless Mind                7.8
The Prestige                                         7.8
The Lord of the Rings: The Fellowship of the Ring    7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [91]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # +

In [98]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
data['cast'] = data['cast'].apply(lambda s: s.split('|'))
data['pairs'] = data['cast'].apply(lambda s: list(it.combinations(s, 2)))
data_27 = data.explode('pairs') 
duet = Counter(data_27['pairs']).most_common(1) 
display(duet)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [92]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283) верно',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819) верно',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [93]:
# и убедиться что ни чего не пропустил)
len(answers)

27